@import 'src/styles/variables.scss';
@import 'src/styles/index.scss';

.results {
  &__tr {
    &:not(:last-child) {
      & td {
        border-bottom: 1px solid $light-sage-color;
      }
    }
    &:hover {
      & td {
        background-color: $mint-color;
      }
    }
    &_link {
      a {
        padding: 10px;
      }
      &:hover {
        a {
          border-radius: 15px;
          background-color: $ochre-color;
        }
      }
    }
  }
}
