@import 'src/styles/variables.scss';

.option {
  &__range_container {
    margin-top: 30px;
    display: block !important;
    width: 250px;
    @media (max-width: $small-weight) {
      min-width: 205px;
    }
  }
  &__range_wrapper {
    display: flex;
  }
  &__range_input {
    min-width: 250px;
    @media (max-width: $small-weight) {
      min-width: 205px;
    }
  }
  &__range_output {
    margin: 0 10px;
    position: relative;
  }
  &__range_value {
    display: block;
    margin-left: 3px;
    padding: 10px 0 0 0;
    position: absolute;
    text-align: center;
    top: -50px;
    width: 20px;
    z-index: 1;
  }
}
