@import 'src/styles/variables.scss';

.typeBar {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $black-color;
  border-radius: 15px;
  background-color: $white-color;
  overflow: hidden;
  box-shadow: 10px 10px 5px 0px rgba(34, 60, 80, 0.2);
  @media (max-width: $large-weight) {
    margin-right: 15px !important;
  }
  @media (max-width: $medium-weight) {
    margin-right: 0px !important;
  }
  &__title {
    background-color: $white-color;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $black-color;
    background-color: $dark-sage-color;
    color: $white-color;
  }
  &__item {
    padding: 20px;
    padding-left: 40px;
    cursor: pointer;
    &:hover {
      background-color: $mint-color;
      cursor: pointer;
    }
    &::before {
      content: '+';
      color: $dark-sage-color;
      position: relative;
      right: 10px;
      font-weight: bolder;
      font-size: 16px;
      font-family: sans-serif;
    }
  }
}
