@import 'src/styles/variables.scss';

.layout {
  &__wrapper {
    min-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 15px;
  }
}
