@import 'src/styles/variables.scss';

.template {
  &__item {
    padding: 20px;
    border: 1px solid $black-color;
    border-radius: 15px;
    min-width: 120px;
    box-sizing: content-box;
    background-color: $white-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    & hr {
      width: 100%;
      border-top: 1px double $dark-sage-color;
    }

    &_wrapper {
      padding: 10px;
      position: relative;
      border: 1px solid $white-color;
      border-radius: 15px;
      display: flex;
    }

    &_button {
      display: flex;
      justify-content: center;
      & div {
        margin-top: 25px;
      }
    }
    &_info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      & div:first-child {
        margin-right: 10px;
      }
    }
  }
  &__iconWrapper {
    position: absolute;
    top: -27px;
    right: 0;
    .editIcon {
      position: relative;
      top: 2px;
      cursor: pointer;
    }
    .deleteIcon {
      right: 0px;
      cursor: pointer;
    }
  }
}
.active {
  border: 1px solid $black-color;
  background-color: $barely-gray-color;
}
