// colors
$white-color: #ffffff;
$black-color: #000000;
$red-color: #ff0000;
$barely-gray-color: #f0f0ee;
$black-color: #000000;
$dark-gray-color: #323432;
$dark-ochre-color: #b2aa66;
$dark-sage-color: #375541;
$gray-color: #8c918c;
$light-gray-color: #caccc6;
$light-sage-color: #96af9b;
$ochre-color: #dcd28c;
$sage-color: #5a7864;
$mint-color: #e3ebe6;

// weight
$small-weight: 576px;
$medium-weight: 768px;
$large-weight: 992px;
$extra-large-weight: 1200px;

// fonts
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
